@font-face {
  font-family: 'Chakra Petch Light';
  src: url('./fonts/ChakraPetch-Light.ttf');
}

@font-face {
  font-family: 'Chakra Petch Regular';
  src: url('./fonts/ChakraPetch-Regular.ttf');
}

@font-face {
  font-family: 'Chakra Petch Bold';
  src: url('./fonts/ChakraPetch-Bold.ttf');
}

body {
  margin: 0;
  font-family: 'Chakra Petch Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  padding: 8px;
  font-size: 24px;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
}

.page, .simple-page {
  width: 100%;
  margin-top: 40px auto;
}

h1 {
  display: block;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

h2 {
  display: inline-block;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

button.link-btn {
  display: inline;
  color: inherit;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  font-size: inherit;
}

button.link-btn:hover {
  background: none;
}

button, .btn {
  color: #fff;
  background-color: #575fcf;
  border: 0;
  font-size: 18px;
  padding: .5em 1em;
  border-radius: 2px;
  width: 300px;
  font-family: 'Chakra Petch Regular';
  transition: background 0.4s;
  margin-top: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
}

button:hover, .btn:hover {
  background-color: #aaaee7;
  cursor: pointer;
}

button svg, a svg {
  margin: 0 8px;
}

.cancel-button {
  background-color: #9da9b5;
}

.cancel-button:hover {
  background-color: #ced4da;
}

input {
  font-family: 'Chakra Petch Regular';
  padding: 6px 8px;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #575fcf;
}

.new-game-name, .player-name-input {
  width: 500px;
}

.create-game-control, .join-game-control {
  display: block;
  margin: 20px auto;
}

.join-game-control-row {
  display: block;
  margin: 20px auto;
  width: fit-content;
}

.join-game-control-row button {
  display: inline-block;
  margin-right: 20px;
}

.game-public-private-switch {
  text-align: center;
}

.game-public-private-switch button {
  color: #575fcf;
}

.game-public-private-switch button:hover {
  cursor: pointer;
  color: #aaaee7;
}

table {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  border-spacing: 0;
}

tr {
  display: flex;
  padding: 4px 12px;
}

tr:not(:first-child) {
  border-top: 1px solid #d2dae2;
}

th {
  width: 100%;
  font-weight: 400;
  text-align: center;
}

td {
  flex: 1;
  height: 60px;
  line-height: 60px;
}

td:nth-child(2) {
  flex: 0 0 250px;
}

.join-button {
  width: 80px;
  margin: 0;
  background-color: #ef5777;
}

.join-button:hover {
  background-color: #f6abbb;
}

.game-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.side-menu-buttons, .empty-space-on-the-left {
  flex: 0 0 400px;
}

.rooms-table {
  flex: 1;
  flex-grow: 1;
}

.public-rooms-loading {
  font-size: 20px;
  margin: 10px auto;
}

.no-public-rooms-message {
  font-size: 20px;
  margin: 10px auto;
}

.no-public-rooms-message a {
  text-decoration: none;
  color: #575fcf;
}

.no-public-rooms-message a:hover {
  cursor: pointer;
}

.side-menu-buttons {
  margin: 0 80px;
  padding-top: 1px;
}

.board-container {
  flex: 0 0 800px;
}

.game-info, .game-log {
  flex: 1;
}

.board {
  display: table;
}

.board .board-row {
  display: table-row;
}

.board-row div {
  display: table-cell;
}

.cell {
  width: 80px;
  height: 80px;
  background-color: #9da9b5;
  position: relative;
}

.cell-border-v {
  width: 8px;
  height: 80px;
}

.cell-border-h {
  height: 8px;
  width: 80px;
}

.cell-border-hv {
  height: 8px;
  width: 8px;
}

.cell-border-wall {
  background-color: #ffa801;
}

.cell-border-placeable {
  cursor: pointer;
}

.pawn, .possible-move {
  background: no-repeat;
  background-position: center;
  background-size: 60px;
  width: 80px;
  height: 80px;
}

.possible-move {
  background-image: url('./graphics/possible-move.svg');
  background-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.pawn-clickable:hover {
  cursor: pointer;
}

.game-info table {
  width: 80%;
  margin: 0 auto;
}

.player-row {
  vertical-align: middle;
  line-height: 40px;
}

.player-row .pawn {
  width: 60px;
  height: 60px;
  background-size: 35px;
}

.player-pawn {
  flex: 0 0 50px;
}

.player-row .player-name {
  text-overflow: ellipsis;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 150px;
}

.player-row .remaining-bricks {
  flex: 0 0 55px;
}

.remaining-bricks img {
  display: inline-block;
  width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.turn-row {
  background-color: #575fcf;
  color: white;
  text-align: center;
  padding: 0;
  height: 35px;
}

.turn-row td {
  line-height: 35px;
  font-size: 16px;
  padding: 0;
}

.play-again-btn, .play-again-message {
  width: 80%;
  margin: 15px auto 0 auto;
}

.play-again-message {
  font-size: 20px;
  text-align: center;
  padding: 4px;
}

.invite-links, .invite-panel {
  width: 80%;
  margin: 0 auto;
}

.invite-links button {
  width: 100%;
  background-color: #9da9b5;
}

.invite-links button:hover {
  background-color: #ced4da;
}

.game-log-panel {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.game-log-entry {
  padding: 6px 12px;
  font-size: 16px;
}

.game-event {
  width: 100%;
  text-align: center;
}

.game-log-panel .logs {
  height: calc(100% - 40px);
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: scroll;
}

.game-log-panel input {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  border: 0;
  padding: 0 12px;
  outline: none;
  font-family: 'Chakra Petch Regular';
}

.game-log-panel input:active {
  border: 0;
}

.join-button, .spectate-button {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: 0;
  font-size: 18px;
  padding: .5em 1em;
  border-radius: 2px;
  font-family: 'Chakra Petch Regular';
  transition: background 0.4s;
  margin-top: 14px;
}

.spectate-button.spectate-only {
  padding-left: 65px;
  padding-right: 65px;
}

.spectate-button.spectate-or-join {
  width: 140px;
}

.spectate-or-join {
  margin: 0 0 0 20px;
}

.spectate-button {
  background-color: #575fcf;
}

.spectate-button:hover {
  background-color: #aaaee7;
  cursor: pointer;
}

.game-status-message {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.game-status-message button {
  margin: 0 auto;
  margin-top: 20px;
}

.invite-panel h2 {
  padding-bottom: 15px;
}

.invite-panel button {
  margin-top: 15px;
}

.invite-panel-entry {
  display: flex;
}

.invite-panel-entry svg {
  flex: 0 40px;
  margin: auto 0;
}

.invite-panel-entry svg:hover {
  cursor: pointer;
}

.invite-panel-entry div {
  flex: 1;
}

.invite-panel-entry div span {
  display: block;
  font-size: 16px;
  font-weight: 100;
  color: #485460;
}

.create-game-control .invite-panel-entry {
  max-width: 500px;
}

.create-game-control {
  margin: 10px auto;
}

.invite-panel-entry {
  margin: 20px auto;
}

.input-block-with-randomize {
  width: 550px;
  margin: 20px auto 0 auto;
  display: flex;
}

.input-block-with-randomize .pawn {
  margin-right: 10px;
  border: 1px solid #575fcf;
  border-radius: 10px;
}

.input-block-with-randomize .pawn:hover {
  cursor: pointer;
}

.input-block-with-randomize input {
  display: inline-block;
  flex: 1;
  margin: 0;
  align-self: center;
}

.input-block-with-randomize svg {
  flex: 0 20px;
  margin: auto 10px;
  color: #485460;
}

.input-block-with-randomize svg:hover {
  cursor: pointer;
}

.pawn-pack {
  width: 700px;
  margin: 0 auto;
}

.pawn-pack h2 {
  display: block;
  font-size: 18px;
  text-align: left;
}

.pawn-pack .pawn {
  display: inline-block;
  border: 1px solid #9da9b5;
  border-radius: 6px;
  margin-right: 10px;
  margin-top: 10px;
  transition: border ease-out 0.1s;
}

.pawn-pack .pawn:hover {
  cursor: pointer;
  border: 1px solid #575fcf;
}

.game-finished-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.game-finished-modal-content {
  background-color: #eee;
  width: 500px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.04);
}

.winner-name {
  display: block;
  margin: 10px auto;
  width: fit-content;
}

.game-finished-modal-content button {
  margin: 10px auto;
}

.app-name {
  padding-right: 10px;
}

.app-name:hover {
  cursor: pointer;
}

header {
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-size: 24px;
  vertical-align: middle;
  margin-left: 40px;
}

@media only screen and (max-width: 1500px) {

  body {
    font-size: 20px;
  }

  .player-row .player-name {
    max-width: 150px;
  }

  .cell {
    width: 70px;
    height: 70px;
  }

  .cell-border-v {
    width: 7px;
    height: 70px;
  }

  .cell-border-h {
    height: 7px;
    width: 70px;
  }

  .cell-border-hv {
    height: 7px;
    width: 7px;
  }

  .pawn {
    width: 70px;
    height: 70px;
    background-size: 55px;
  }

  .possible-move {
    width: 70px;
    height: 70px;
    background-size: 20px;
  }

  .board-container {
    flex: 0 0 700px;
  }

  input {
    font-size: 16px;
  }
}
